In [0]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import random
import re
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob,Word, Blobber
nltk.download('stopwords')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.metrics import f1_score, accuracy_score
import html
from html.parser import HTMLParser

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [0]:
#read in data:
df = pd.read_csv('saltyhacker.csv')

df.head(5)

   Unnamed: 0          User                                               Text
0           0       thu2111  Did those people criticise other epidemiologis...
1           1     noisy_boy  I like Aliexpress because most of the times I ...
2           2         lopis  Doesn&#x27;t really matter. The progression of...
3           3         aexol  I have added docs generator for GraphQL Editor...
4           4  frockington1  I haven;t seen any non sensationalized evidenc...

In [0]:
#convert to string
df['Text'] = df['Text'].astype(str)

In [0]:
def cleanup_html(raw_html):
    clean_html = re.sub(r'<.*?>', '', raw_html)
    clean_html_http = re.sub(r'http\S+([\.]{3})?', '', clean_html)
    clean_txt = html.unescape(clean_html)
    return clean_txt
df['Text'] = df['Text'].apply(cleanup_html)
df.sample(10)
for row in df['Text'].sample(10):
    print(row)
    print()

But these three things are super easy with hooks, maybe even easier so than with class components.

To me, the biggest thing that makes AirPods unique is that they look pretty weird. The Google ones don't, so I see them as clearly differentiated from AirPods.

First of all, the outcome doesn't speak to the Constitutionality. Maybe the Constitution, as is, doesn't produce the outcomes we want, and Article V lays out a process to amend the Constitution. The outcome of a SCOTUS decision is "wrong" insofar as it incorrectly determines the legality of something, not whether or not it produces politically unfavorable outcomes.Second of all, in practice, the influence of money in politics is overstated.Hillary Clinton outspent[1][2] Donald Trump by 2x in the 2016 election, and still lost. In fact, she had far more corporate backing[3][4] than Donald Trump, and still lost.In the 2020 Democratic Primaries, Michael Bloomberg spent $1 billion[5] (!!) on his campaign, and won just 9.4% of the popular vote (1.38% of pledged delegates).Tom Steyer (a no-name billionaire), spent $343 million[6] on his election, and won a humiliating 0.38% of the popular vote (0% of pledged delegates). Interestingly, you would think he would have at least 1/3 of Bloomberg's vote, which suggests that the vast majority of the variance in Bloomberg's vote share can be attributed to his existing name recognition as a famous businessman/politician.Bernie Sanders spent $195 million[7] on his election, having spent less than Bloomberg + Steyer and while having handily beaten both. Joe Biden spent $105 million[8] on his campaign, less than Bernie, and still beat him by 3 million votes.Elizabeth Warren spent $121.31 million[9] on her campaign, and also handily beat Bloomberg + Steyer while having spent far less than them, while losing to Biden while having spent more than him.Those are just the anecdotes (of which there are many more).Decades of research[10] suggest that money probably isn’t the deciding factor in who wins a general election, and especially not for incumbents. Most of the research in the last century found[11] that spending didn’t affect wins for incumbents and that the impact for challengers was unclear[12]. Even the studies[13] that showed spending having the biggest effect, like one that found a more than 6 percent increase in vote share for incumbents, didn’t demonstrate that money actually causes wins. In fact, those gains from spending likely translate to less of an advantage today, in a time period where voters are more stridently partisan. There are probably fewer and fewer people who are going to change their vote because they liked your ad.So this argument is dubious both legally as well as prescriptively.[1] https://www.opensecrets.org/pres16/candidate?id=n00000019[2] https://www.opensecrets.org/pres16/candidate?id=n00023864[3] https://www.opensecrets.org/pres16/contributors?id=n00000019[4] https://www.opensecrets.org/pres16/contributors?id=n00023864[5] https://www.opensecrets.org/2020-presidential-race/candidate...[6] https://www.opensecrets.org/2020-presidential-race/candidate...[7] https://www.opensecrets.org/2020-presidential-race/candidate...[8] https://www.opensecrets.org/2020-presidential-race/candidate...[9] https://www.opensecrets.org/2020-presidential-race/candidate...[10] https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2605401[11] http://journals.sagepub.com/doi/10.1177/0002764203260415[12] https://www.jstor.org/stable/2138764?seq=1#metadata_info_tab...[13] http://www.sas.rochester.edu/psc/clarke/214/Gerber98.pdf

I had this issue last year when I started learning D. I eventually got used to it, but it was a stumbling block at first. The #d IRC channel helped me out.

preach.  I went from a Samsung Note to a Pixel XL and my god the difference is astounding.  Gonna stick with Pixel from now on.

> The dogs will feel no pain from being put to sleep.> Nobody can, will, or wants to even suggest that the children be put to sleep. We will let the children suffer horrible pain before we ever even consider suggesting such a thing.Sounds like the proper solution is to convince people that putting kits to sleep is OK, then...(Not really, but it does seem to follow from your statements)

Unfortunately this is true - the Terraform AWS provider has thousands of PRs closed (and hundreds still open) as proof. Nevertheless, things seem to get support quicker in Terraform than in CloudFormation.

I thought I'd read that medical errors happen more often when doctors switch over than when (even very tired) doctors work longer.

Keybase Chat is audited and widely regarded as secure, but when prodding for details on how key verification works without human verification, people kept telling me that blockchain magic takes care of it. Eventually I did a deep dive and spent some hours trying to find any path through which the keys are reliably verified, resulting in the post as linked.As far as I can tell, there is no key verification possible in the mobile app and it's basically "trust the server on first use" (TOFU; details are in the StackExchange question). I'm not saying that this is insecure per se, better use open source Keybase than some of the more popular apps, but they claim it's proper end to end encryption (E2EE). One might argue whether this can perhaps fall within the E2EE definition and shift the discussion to whether we should weaken the definition of E2EE to unambiguously include TOFU, but the question whether my analysis is correct remains: is there a way to verify Keybase's end-to-end encryption between me and a friend, or do I just have to trust the server's initial key?It seems weird for Keybase to make a claim that is not in line with what I think is the common understanding of E2EE, so I'd love if someone else can also read all the docs and post an answer to either confirm it or prove it wrong. Maybe the Keybase authors could chip in, and one of the auditors is also the highest ranked user on the security stackexchange site so I had some hope that he would answer (I also sent him an email). It is now tied for the highest voted unanswered question on the site and someone opened a bounty on the question for more attention but it hasn't elicited answers so far (that's actually why I posted it here for attention: someone with only 100 rep whom I don't know opened a bounty for 50 rep, and I don't want it to go to waste). If someone here knows more, a definitive answer would be welcome!

I was surprised when I first went, the people that live there are allowed on 5 of the islands, with the largest island hosting the town of puerto ayora. The town has 10,000 people, and total population of the Galapagos is 30,000 and growing. It’s an interesting place as people move there from the mainland because of the money you can make in tourism, but immigration is tightly controlled due to the negative effect on nature as the towns expand.People first started living in the Galapagos a long time ago, in the 1950s they consolidated everyone into the islands they live today. Interesting history for a place that you’d think was purely natural, but human civilization finds a way I suppose.

In [0]:
class MLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ' '.join(self.fed)


def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()

In [0]:
df['Text']  = df['Text'].apply(html.unescape)

In [0]:
#before converting to lower:
df['Text'][77]

'Shoulder pads are back in'

In [0]:
#convert to lower case
df['Text'] = df['Text'].apply(lambda x: ' '.join(x.lower() for x in x.split()))

df['Text'][77]

'shoulder pads are back in'

In [0]:
#stopwords:
stop = stopwords.words('english')
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Text'][77]

'shoulder pads back'

In [0]:
#stemming
st = PorterStemmer()
df['Text'] = df['Text'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df['Text'][77]

'shoulder pad back'

In [0]:
#create object
nltk.download('vader_lexicon')
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [0]:
#define analyzer
def vaderize(sentence):
    return analyzer.polarity_scores(sentence)

In [0]:
df['Scores'] = df['Text'].apply(vaderize)

In [0]:
#check
df.head(10)

   Unnamed: 0  ...                                             Scores
0           0  ...  {'neg': 0.142, 'neu': 0.828, 'pos': 0.03, 'com...
1           1  ...  {'neg': 0.095, 'neu': 0.838, 'pos': 0.068, 'co...
2           2  ...  {'neg': 0.123, 'neu': 0.677, 'pos': 0.201, 'co...
3           3  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4           4  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5           5  ...  {'neg': 0.049, 'neu': 0.841, 'pos': 0.11, 'com...
6           6  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
7           7  ...  {'neg': 0.057, 'neu': 0.816, 'pos': 0.127, 'co...
8           8  ...  {'neg': 0.0, 'neu': 0.945, 'pos': 0.055, 'comp...
9           9  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...

[10 rows x 4 columns]

In [0]:
df[['neg', 'neu', 'pos', 'compound']] = df.Scores.apply(pd.Series)

In [0]:
#sort
for text in df.sort_values(by='neg', ascending=False)['Text'].head(20):
    print(text, '\n')

no,

fuck amp fuck google.

need turn alarm though :(

hate amazon again?

conclusion. could done (arrest spi terrorists). bomb civilian reprehensible, 'safeguarding' terrorist pretti vile.

john carreyou: bad blood.

stop, we'r done.

behavior et compar set kill signal ssh config? sometim kill signal get kill half hour longer.

text editor user wrong.

lol... keep poor mad...

includ death covid-19 total involv similar symptoms. lot problem caus pneumonia cardiac arrest, said pneumonia patient test negative. appar healthi peopl die suddenli time, sadly.

softbank massiv fuck one. feel bad current employees. https://news.ycombinator.com/item?id=14783521

beethoven bigger "piano". also, littl outrag thread - sadness, resignation, head shake sure, outrage.

wouldn’t 256^256? that’ certainli hell haystack

patent would reject presum

oops, sorry, stupid blunder. thank correction.

author writing, section, blind (i.e. path) attacks. given attack model off-path see challeng ack.

tri racist, twitter term fake ai startup (start one indian man).

22% death offici report india . ..

nyc current 1462 death per million.

In [0]:
#add len
df['len'] = df['Text'].str.len()  
df.head(10)

   Unnamed: 0          User  ... compound   len
0           0       thu2111  ...  -0.9428   947
1           1     noisy_boy  ...  -0.0000   270
2           2         lopis  ...   0.4767   193
3           3         aexol  ...   0.0000   169
4           4  frockington1  ...   0.0000   127
5           5     alpaca128  ...   0.4215   360
6           6      alkonaut  ...   0.0000   149
7           7       giantg2  ...   0.8781  1161
8           8  9wzYQbTYsAIc  ...   0.1779   208
9           9        Jonnax  ...   0.0000    45

[10 rows x 9 columns]

In [0]:
#check
df.head(10)

   Unnamed: 0          User  ... compound   len
0           0       thu2111  ...  -0.9428   947
1           1     noisy_boy  ...  -0.0000   270
2           2         lopis  ...   0.4767   193
3           3         aexol  ...   0.0000   169
4           4  frockington1  ...   0.0000   127
5           5     alpaca128  ...   0.4215   360
6           6      alkonaut  ...   0.0000   149
7           7       giantg2  ...   0.8781  1161
8           8  9wzYQbTYsAIc  ...   0.1779   208
9           9        Jonnax  ...   0.0000    45

[10 rows x 9 columns]

In [0]:
# #textblob
# def textblob_score(sentence):
#     return TextBlob(sentence).sentiment.polarity

In [0]:
# # Convert textblob sentiment score
# df['textblob_score'] = df['Text'].apply(textblob_score)
# # Convert float score to category based on binning
# df['textblob_pred'] = pd.cut(df['textblob_score'], bins=5, labels=[1, 2, 3, 4, 5])
# df = df.drop('textblob_score', axis=1)
# df.head()

In [0]:
#define analyzer
vader = SentimentIntensityAnalyzer()
def score_vader(sentence, vader):
    return vader.polarity_scores(sentence)['compound']

In [0]:
# Calculate Vader sentiment score
df['vader_score'] = df['Text'].apply(lambda x: score_vader(x, vader))
# Convert float score to category based on binning
df['vader_pred'] = pd.cut(df['vader_score'], bins=5, labels=[1, 2, 3, 4, 5])
df = df.drop('vader_score', axis=1)
df.head(10)

   Unnamed: 0          User  ...   len vader_pred
0           0       thu2111  ...   947          1
1           1     noisy_boy  ...   270          3
2           2         lopis  ...   193          4
3           3         aexol  ...   169          3
4           4  frockington1  ...   127          3
5           5     alpaca128  ...   360          4
6           6      alkonaut  ...   149          3
7           7       giantg2  ...  1161          5
8           8  9wzYQbTYsAIc  ...   208          3
9           9        Jonnax  ...    45          3

[10 rows x 10 columns]

In [0]:
csv = 'saltyhacker.csv'
term_freq_df = pd.read_csv(csv,index_col=0)
term_freq_df.sort_values(by='User', ascending=False).iloc[:10]

           User                                               Text
41      zynkb0a  When I read your comment, I realized I intuiti...
1665    zynkb0a  What is the significance of SoftBank financing...
1439    zynkb0a  &gt;people&#x27;s lives can be ruined, or at l...
1615    zynkb0a  I don&#x27;t necessarily disagree, but can one...
1674      zxcmx  I don&#x27;t see any particular moral value in...
1126  zozbot234  &gt; I seriously doubt either game shipped wit...
40    zozbot234  There are plenty of freely-available works tha...
117       zooli  yeah, it&#x27;s a maypole, from <a href="https...
28    zonefuenf  We mostly use (bad) English in programming con...
366      zokier  Thats weird &quot;reference&quot;. Why 8 as th...